h2.gray {
  font-size: 20px;
  font-style: italic;
  width: 75%;
  color: gray;
}
.h1 {
  font-size: 25px;
}

.intro {
  width: 75%;

}

img.pic{
  float: left;
  width: 40%;
  padding-right: 17px;
}
